/*header*/

body {
    font-family: 'Montserrat', sans-serif;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.logo-top {
    max-width: 150px;
}

.navbar-nav>li {
    margin-left: 10px;
}

.navbar-nav>li>a,
.navbar-nav>li>a:hover,
.navbar-nav>li>a:active {
    color: #444444;
    background: none;
    font-weight: bold;
    border: none;
}

.btn-login {
    margin-top: 5px;
    border: 2px solid #444444;
    border-radius: 5px;
}

.btn-login a {
    padding: 7px 24px !important;
}


/*widget cek ongkir*/

.box-top-new {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px 51px;
}

.addon-left {
    padding: 0px;
    width: 0px;
    margin: 0px;
    border: none;
}

button.btn.btn-cek {
    background: #C2262D;
    color: #fff;
    padding: 3px 15px;
}

button.btn.btn-cek h4 {
    font-weight: bold;
}

.box-result-top {
    background-color: #F7F7F7;
    padding: 10px 13px;
    height: 60px;
}

thead.thead-dark {
    background: #F4F0EB;
}

h4 {
    font-weight: 800 !important;
}

.table-harga {
    border-collapse: collapse;
    border: 0px solid #707070;
    border-radius: 8px !important;
    overflow: hidden;
    box-shadow: 0 0 0 1px #bebebe;
}

.table>tbody>tr>td,
.table>tbody>tr>.row {
    padding: 30px;
    font-weight: bold;
}

.table>thead>tr>th {
    padding-left: 30px;
}

.icon-new {
    max-width: 60px;
    padding-top: 15px;
    padding-left: 20px;
}

td.column-button {
    padding-top: 16px;
}

b.complete {
    font-size: 10px;
    color: #10680D;
    font-weight: bolder;
    padding-left: 5px;
    font-family: Roboto !important;
    text-transform: uppercase;
}

i.fa.fa-check-circle {
    font-size: 14px !important;
}

.box-red {
    background-color: #C2262D;
    padding: 50px 40px;
}

.box-red h4 {
    color: #fff;
    font-weight: bold;
}

.img-logo {
    max-width: 150px;
}

.minus-margin {
    margin-top: 40px;
}

.withpadding {
    padding-left: 20px;
}

div#s2id_id_daerah {
    width: 100%;
}


/*nav tab*/

.nav-tabs {
    border: none;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: none !important;
}

.nav-tabs {
    display: table;
    margin: 0 auto;
    padding-top: 25px;
}

.nav-tabs li {
    background: #F4F0EB;
}

.nav-tabs li a {
    color: #444444;
    padding: 4px 50px;
}

.nav-tabs li.active {
    background: #444444;
}

.nav-tabs li.active a,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #ffff;
    background: #444444;
    padding: 5px 50px;
}

.nav-tabs li.active h4 {
    font-weight: bolder;
}


/*footer*/

footer {
    padding: 50px 20px;
    background: #C2262D;
}

ul.list-footer {
    margin-bottom: 30px;
}

footer h4,
footer p {
    color: #ffff;
}

ul.list-footer li {
    font-size: 16px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    margin-right: 30px;
}

ul.social {
    margin: 0px;
    padding: 0px;
}

ul.social li {
    display: inline-block;
    margin-right: 20px;
}

ul.social li i {
    color: #C2262D;
    padding: 8px 10px;
    background: #fff;
    font-size: 16px;
}

i.fa.fa-pinterest-p {
    padding: 8px 13px;
}

i.fa.fa-facebook-f {
    padding: 8px 15px;
}