/*header*/

body {
    font-family: 'Montserrat', sans-serif;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.logo-top {
    max-width: 150px;
}

.navbar-nav>li {
    margin-left: 10px;
}

.navbar-nav>li>a,
.navbar-nav>li>a:hover,
.navbar-nav>li>a:active {
    color: #444444;
    background: none;
    font-weight: bold;
    border: none;
}

.btn-login {
    margin-top: 5px;
    border: 2px solid #444444;
    border-radius: 5px;
}

.btn-login a {
    padding: 7px 24px !important;
}


/*footer*/

footer {
    padding: 50px 20px;
    background: #C2262D;
}

ul.list-footer {
    margin-bottom: 30px;
}

footer h4,
footer p {
    color: #ffff;
}

ul.list-footer li {
    font-size: 16px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    margin-right: 30px;
}

ul.social {
    margin: 0px;
    padding: 0px;
}

ul.social li {
    display: inline-block;
    margin-right: 20px;
}

ul.social li i {
    color: #C2262D;
    padding: 8px 10px;
    background: #fff;
    font-size: 16px;
}

i.fa.fa-pinterest-p {
    padding: 8px 13px;
}

i.fa.fa-facebook-f {
    padding: 8px 15px;
}