<<<<<<< HEAD
.create-ship {
    margin-top: 30px !important;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%,0%);
}

.img-fluid2 {
    max-width: 50%;
    height: auto;
}

.mg-lt-20 {
    margin-left: 30px;

=======
.tx-white.mg-lt-20 {
    padding: 20px;
>>>>>>> a599ea72a9d2bb2f180258a56c87823ca5e7fd14
}